.form button {
  margin: 15px;
  width: 90px;
  border: 1px solid;
  padding: 5px;
  background-color: #0000ee;
  color: white;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding: 15px 0;
}
